em {font-family: Georgia, Serif;}

.simple.form-actions {background: none; border: none;}

p, ul, ol, li, textarea, input, span, div, legend, form, label {
	font-family: 'Source Sans Pro', 'Segoe UI', Calibri, sans-serif;
}